{% extends "panel/base.twig" %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Produtos</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/painel">Home</a></li>
                        <li class="breadcrumb-item active">Produtos</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-sm-12">
                    <a href="/painel/produtos/novo" class="btn btn-success float-sm-right">
                        <i class="fas fa-plus"></i>
                        Novo
                    </a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-primary card-outline">
                        <div class="card-body">
                            <table id="dataTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 60px;">#</th>
                                        <th>Titulo</th>
                                        <th>Departamento</th>
                                        <th>Preço</th>
                                        <th style="width: 50px;">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products  %}
                                    <tr>
                                        <td>{{ product.id }}</td>
                                        <td>{{ product.title }}</td>
                                        <td>{{ product.department_title }}</td>
                                        <td>{{ product.price }}</td>
                                        <td>
                                            <a href="/painel/produtos/edit/{{ product.id }}" class="text-warning p-1">
                                                <i class="fas fa-edit fa-1x"></i>
                                            </a>
                                            <a href="/painel/produtos/delete/{{ product.id }}"
                                                onclick="return confirm('Deseja realmente deletar o registro?')"
                                                class="text-danger p-1">
                                                <i class="fas fa-trash fa-1x"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>#</th>
                                        <th>Titulo</th>
                                        <th>Departamento</th>
                                        <th>Preço</th>
                                        <th>Ações</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div><!-- /.card -->
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}